<!DOCTYPE html>
<html lang="ru" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Футбол</title>
</head>
<body>
<section>
    <h1>Футбол</h1>

    <table style="text-align: left;">
        <tr>
            <td>
                <form method="POST" th:action="@{/sport/football}">
                    <label>Счет 1:<br>
                        <input type="number" name="score1" min="0" th:value="${page.score1}"><br>
                    </label>
                    <label>Счет 2:<br>
                        <input type="number" name="score2" min="0" th:value="${page.score2}"><br>
                    </label>
                    <label>Ожидание 1:<br>
                        <input type="number" name="expected1" min="0" step="0.01" th:value="${page.expected1}"><br>
                    </label>
                    <label>Ожидание 2:<br>
                        <input type="number" name="expected2" min="0" step="0.01" th:value="${page.expected2}"><br>
                    </label>
                    <label>Сыграно минут:<br>
                        <input type="number" name="currentMinute" min="0" th:value="${page.currentMinute}"><br>
                    </label>
                    <label>Дополнительное 1:<br>
                        <input type="number" name="additionalTime1" min="0" th:value="${page.additionalTime1}"><br>
                    </label>
                    <label>Дополнительное 2:<br>
                        <input type="number" name="additionalTime2" min="0" th:value="${page.additionalTime2}"><br>
                    </label>
                    <label>Составы:<br>
                        <select name="teamsSize" style="width: 100%;">
                            <option value="11x11" th:selected="${page.teamsSize == '11x11'}">11x11</option>
                            <option value="11x10" th:selected="${page.teamsSize == '11x10'}">11x10</option>
                            <option value="10x11" th:selected="${page.teamsSize == '10x11'}">10x11</option>
                            <option value="10x10" th:selected="${page.teamsSize == '10x10'}">10x10</option>
                        </select><br>
                    </label>
                    <label>Профит:<br>
                        <input type="number" name="marginPercent" step=0.1 th:value="${page.marginPercent}"><br>
                    </label>
                    <div style="text-align: right;"><br>
                        <input value="Считать" type="submit"><br>
                    </div>
                </form>
            </td><td style="width: 5%;"></td>
            <td>
                <table>
                    <tr>
                        <td colspan="2" th:text="'П1 = ' + ${page.line['П1']}">2,22</td>
                        <td colspan="2" th:text="'Х = ' +  ${page.line['Х']}">4,55</td>
                        <td colspan="2" th:text="'П2 = ' + ${page.line['П2']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="2" th:text="'1Х = ' + ${page.line['1Х']}">1,32</td>
                        <td colspan="2" th:text="'12 = ' + ${page.line['12']}">1,17</td>
                        <td colspan="2" th:text="'Х2 = ' + ${page.line['Х2']}">1,55</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-3,5) = ' + ${page.line['Ф1(-3,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+3,5) = ' + ${page.line['Ф2(+3,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-3,0) = ' + ${page.line['Ф1(-3,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+3,0) = ' + ${page.line['Ф2(+3,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-2,5) = ' + ${page.line['Ф1(-2,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+2,5) = ' + ${page.line['Ф2(+2,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-2,0) = ' + ${page.line['Ф1(-2,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+2,0) = ' + ${page.line['Ф2(+2,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-1,5) = ' + ${page.line['Ф1(-1,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+1,5) = ' + ${page.line['Ф2(+1,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-1,0) = ' + ${page.line['Ф1(-1,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+1,0) = ' + ${page.line['Ф2(+1,0)']}">3,33</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(0) = ' + ${page.line['Ф1(0)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(0) = ' + ${page.line['Ф2(0)']}">1.83</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+1,0) = ' + ${page.line['Ф1(+1,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-1,0) = ' + ${page.line['Ф2(-1,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+1,5) = ' + ${page.line['Ф1(+1,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-1,5) = ' + ${page.line['Ф2(-1,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+2,0) = ' + ${page.line['Ф1(+2,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-2,0) = ' + ${page.line['Ф2(-2,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+2,5) = ' + ${page.line['Ф1(+2,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-2,5) = ' + ${page.line['Ф2(-2,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+3,0) = ' + ${page.line['Ф1(+3,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-3,0) = ' + ${page.line['Ф2(-3,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+3,5) = ' + ${page.line['Ф1(+3,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-3,5) = ' + ${page.line['Ф2(-3,5)']}">3,33</td>
                    </tr>
                </table>
            </td>
            </td><td style="width: 5%;"></td>
            <td>
                <table>
                    <tr>
                        <td colspan="3" th:text="'ТМ(0,5) = ' + ${page.line['ТМ(0,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(0,5) = ' + ${page.line['ТБ(0,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(1,0) = ' + ${page.line['ТМ(1,0)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(1,0) = ' + ${page.line['ТБ(1,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(1,5) = ' + ${page.line['ТМ(1,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(1,5) = ' + ${page.line['ТБ(1,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(2,0) = ' + ${page.line['ТМ(2,0)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(2,0) = ' + ${page.line['ТБ(2,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(2,5) = ' + ${page.line['ТМ(2,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(2,5) = ' + ${page.line['ТБ(2,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(3,0) = ' + ${page.line['ТМ(3,0)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(3,0) = ' + ${page.line['ТБ(3,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(3,5) = ' + ${page.line['ТМ(3,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(3,5) = ' + ${page.line['ТБ(3,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(4,0) = ' + ${page.line['ТМ(4,0)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(4,0) = ' + ${page.line['ТБ(4,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(4,5) = ' + ${page.line['ТМ(4,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(4,5) = ' + ${page.line['ТБ(4,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(5,0) = ' + ${page.line['ТМ(5,0)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(5,0) = ' + ${page.line['ТБ(5,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(5,5) = ' + ${page.line['ТМ(5,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(5,5) = ' + ${page.line['ТБ(5,5)']}">1,85</td> 
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(0,5) = ' + ${page.line['ИТМ1(0,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(0,5) = ' + ${page.line['ИТБ1(0,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(1,0) = ' + ${page.line['ИТМ1(1,0)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(1,0) = ' + ${page.line['ИТБ1(1,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(1,5) = ' + ${page.line['ИТМ1(1,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(1,5) = ' + ${page.line['ИТБ1(1,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(2,0) = ' + ${page.line['ИТМ1(2,0)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(2,0) = ' + ${page.line['ИТБ1(2,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(2,5) = ' + ${page.line['ИТМ1(2,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(2,5) = ' + ${page.line['ИТБ1(2,5)']}">1,85</td> 
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(0,5) = ' + ${page.line['ИТМ2(0,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(0,5) = ' + ${page.line['ИТБ2(0,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(1,0) = ' + ${page.line['ИТМ2(1,0)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(1,0) = ' + ${page.line['ИТБ2(1,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(1,5) = ' + ${page.line['ИТМ2(1,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(1,5) = ' + ${page.line['ИТБ2(1,5)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(2,0) = ' + ${page.line['ИТМ2(2,0)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(2,0) = ' + ${page.line['ИТБ2(2,0)']}">1,85</td> 
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(2,5) = ' + ${page.line['ИТМ2(2,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(2,5) = ' + ${page.line['ИТБ2(2,5)']}">1,85</td> 
                    </tr>
                </table>
            </td>
            </td><td style="width: 5%;"></td>
            <td>
                <table>
                    <tr>
                        <td colspan="4" th:text="'Следующий гол 1 = ' + ${page.line['Следующий гол 1']}">1.83</td>
                        <td colspan="2" th:text="'Нет = ' + ${page.line['Следующий гол 1 нет']}">1.1</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Следующий гол 2 = ' + ${page.line['Следующий гол 2']}">1.83</td>
                        <td colspan="2" th:text="'Нет = ' + ${page.line['Следующий гол 2 нет']}">1.1</td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
</section>

</body>
</html>
