<!DOCTYPE html>
<html lang="ru" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Футбол</title>
</head>
<body>
<section>
    <h1>Футбол</h1>

    <table style="text-align: left;">
        <tr>
            <td>
                <form method="POST" th:action="@{/sport/football}">
                    <label>Счет 1:<br>
                        <input type="number" name="score1" min="0" th:value="${page.score1}"><br>
                    </label>
                    <label>Счет 2:<br>
                        <input type="number" name="score2" min="0" th:value="${page.score2}"><br>
                    </label>
                    <label>Ожидание 1:<br>
                        <input type="number" name="expected1" min="0" step="0.01" th:value="${page.expected1}"><br>
                    </label>
                    <label>Ожидание 2:<br>
                        <input type="number" name="expected2" min="0" step="0.01" th:value="${page.expected2}"><br>
                    </label>
                    <label>Сыграно минут:<br>
                        <input type="number" name="currentMinute" min="0" th:value="${page.currentMinute}"><br>
                    </label>
                    <label>Дополнительное 1:<br>
                        <input type="number" name="additionalTime1" min="0" th:value="${page.additionalTime1}"><br>
                    </label>
                    <label>Дополнительное 2:<br>
                        <input type="number" name="additionalTime2" min="0" th:value="${page.additionalTime2}"><br>
                    </label>
                    <label>Составы:<br>
                        <select name="teamsSize">
                            <option value="11x11" th:selected="${page.teamsSize == '11x11'}">11x11</option>
                            <option value="11x10" th:selected="${page.teamsSize == '11x10'}">11x10</option>
                            <option value="10x11" th:selected="${page.teamsSize == '10x11'}">10x11</option>
                            <option value="10x10" th:selected="${page.teamsSize == '10x10'}">10x10</option>
                        </select><br>
                    </label>
                    <label>Профит:<br>
                        <input type="number" name="marginPercent" step=0.1 th:value="${page.marginPercent}"><br>
                    </label>
                    <div style="text-align: right;"><br>
                        <input value="Считать" type="submit"><br>
                    </div>
                </form>
            </td><td style="width: 5%;"></td>
            <td>
                <table th:if="${page.line}">
                    <tr>
                        <td colspan="2" th:text="'П1 = ' + ${page.line['П1']}">2,22</td>
                        <td colspan="2" th:text="'Х = ' +  ${page.line['Х']}">4,55</td>
                        <td colspan="2" th:text="'П2 = ' + ${page.line['П2']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="2" th:text="'1Х = ' + ${page.line['1Х']}">1,32</td>
                        <td colspan="2" th:text="'12 = ' + ${page.line['12']}">1,17</td>
                        <td colspan="2" th:text="'Х2 = ' + ${page.line['Х2']}">1,55</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-3,5) = ' + ${page.line['Ф1(-3,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+3,5) = ' + ${page.line['Ф2(+3,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-3,0) = ' + ${page.line['Ф1(-3,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+3,0) = ' + ${page.line['Ф2(+3,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-2,5) = ' + ${page.line['Ф1(-2,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+2,5) = ' + ${page.line['Ф2(+2,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-2,0) = ' + ${page.line['Ф1(-2,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+2,0) = ' + ${page.line['Ф2(+2,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-1,5) = ' + ${page.line['Ф1(-1,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+1,5) = ' + ${page.line['Ф2(+1,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-1,0) = ' + ${page.line['Ф1(-1,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(+1,0) = ' + ${page.line['Ф2(+1,0)']}">3,33</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(0) = ' + ${page.line['Ф1(0)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(0) = ' + ${page.line['Ф2(0)']}">1.83</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+1,0) = ' + ${page.line['Ф1(+1,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-1,0) = ' + ${page.line['Ф2(-1,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+1,5) = ' + ${page.line['Ф1(+1,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-1,5) = ' + ${page.line['Ф2(-1,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+2,0) = ' + ${page.line['Ф1(+2,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-2,0) = ' + ${page.line['Ф2(-2,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+2,5) = ' + ${page.line['Ф1(+2,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-2,5) = ' + ${page.line['Ф2(-2,5)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+3,0) = ' + ${page.line['Ф1(+3,0)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-3,0) = ' + ${page.line['Ф2(-3,0)']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+3,5) = ' + ${page.line['Ф1(+3,5)']}">3,33</td>
                        <td colspan="3" th:text="'Ф2(-3,5) = ' + ${page.line['Ф2(-3,5)']}">3,33</td>
                    </tr>
                </table>
            </td>
            </td><td style="width: 5%;"></td>
            <td>
                <table th:if="${line}">






                    <tr th:each="t : ${#numbers.sequence(0, 9)}" th:with="tOver='ТБ(' + ${t} + ',5)', tUnder='ТМ(' + ${t} + ',5)'">
                        <td colspan="3" th:text="${tUnder} + ' = ' + ${line.get(tUnder)}">1,85</td>
                        <td colspan="3" th:text="${tOver} + ' = ' + ${line.get(tOver)}">1,85</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr th:each="t : ${#numbers.sequence(0, 4)}" th:with="tOver='ИТБ1(' + ${t} + ',5)', tUnder='ИТМ1(' + ${t} + ',5)'">
                        <td colspan="3" th:text="${tUnder} + ' = ' + ${line.get(tUnder)}">1,55</td>
                        <td colspan="3" th:text="${tOver} + ' = ' + ${line.get(tOver)}">2,33</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr th:each="t : ${#numbers.sequence(0, 4)}" th:with="tOver='ИТБ2(' + ${t} + ',5)', tUnder='ИТМ2(' + ${t} + ',5)'">
                        <td colspan="3" th:text="${tUnder} + ' = ' + ${line.get(tUnder)}">1,55</td>
                        <td colspan="3" th:text="${tOver} + ' = ' + ${line.get(tOver)}">2,33</td>
                    </tr>
                </table>
            </td>
            </td><td style="width: 5%;"></td>
            <td>
                <table th:if="${line}">
                    <tr>
                        <td colspan="4" th:text="'Следующий гол 1 = ' + ${line['Следующий гол 1']}">1.83</td>
                        <td colspan="2" th:text="'Нет = ' + ${line['Следующий гол 1 нет']}">1.1</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Следующий гол 2 = ' + ${line['Следующий гол 2']}">1.83</td>
                        <td colspan="2" th:text="'Нет = ' + ${line['Следующий гол 2 нет']}">1.1</td>
                    </tr>

                    <tr><td colspan="6">&nbsp;</td></tr>

                    <tr>
                        <td colspan="4" th:text="'Победа 1 в овертайме = ' + ${line['Победа 1 в овертайме']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${line['Победа 1 в овертайме нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Победа 2 в овертайме = ' + ${line['Победа 2 в овертайме']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${line['Победа 2 в овертайме нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Будут буллиты = ' + ${line['Будут буллиты']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${line['Будут буллиты нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Победа 1 по буллитам = ' + ${line['Победа 1 по буллитам']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${line['Победа 1 по буллитам нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Победа 2 по буллитам = ' + ${line['Победа 2 по буллитам']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${line['Победа 2 по буллитам нет']}">1.83</td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
</section>

</body>
</html>
