<!DOCTYPE html>
<html lang="ru" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Хоккей</title>
</head>
<body>
<section>
    <h1>Хоккей</h1>

    <table style="text-align: left; border: 1px;">
        <tr>
            <td>
                <form method="POST" th:action="@{/sport/icehockey}">
                    <label>Счет 1:</label><br>
                    <input type="number" name="score1" min="0" th:value="${page.score1}"><br>
                    <label>Счет 2:</label><br>
                    <input type="number" name="score2" min="0" th:value="${page.score2}"><br>
                    <label>Ожидание 1:</label><br>
                    <input type="number" name="expected1" min="0" step="0.01" th:value="${page.expected1}"><br>
                    <label>Ожидание 2:</label><br>
                    <input type="number" name="expected2" min="0" step="0.01" th:value="${page.expected2}"><br>
                    <label>Сыграно минут:</label><br>
                    <input type="number" name="currentMinute" min="0" th:value="${page.currentMinute}"><br>
                    <label>Разница пустых:</label><br>
                    <input type="number" name="emptyDifference" min="0" th:value="${page.emptyDifference}"><br>
                    <label>Секунды пустых:</label><br>
                    <input type="number" name="emptyDuration" min="0" th:value="${page.emptyDuration}"><br>
                    <label>Профит:</label><br>
                    <input type="number" name="marginPercent" step=0.1 th:value="${page.marginPercent}"><br>
                    <div style="text-align: right;">
                    <br><input value="Считать" type="submit"><br>
                    </div>
                </form>
            </td>
            <td style="width: 10%;">

            </td>
            <td>
                <table th:if="${line}">
                    <tr>
                        <td colspan="2" th:text="'П1 = ' + (${line} ? ${line['П1']} : '-:-')">2,22</td>
                        <td colspan="2" th:text="'Х = ' + (${line} ? ${line['Х']} : '-:-')">4,55</td>
                        <td colspan="2" th:text="'П2 = ' + (${line} ? ${line['П2']} : '-:-')">3,33</td>
                    </tr>
                    <tr th:each="t : ${#numbers.sequence(0,9)}" th:with="tOver='ТБ(' + ${t} + ',5)', tUnder='ТМ(' + ${t} + ',5)'">
                        <td colspan="3" th:text="${tUnder} + ' = ' + ${line.get(tUnder)}">1,85</td>
                        <td colspan="3" th:text="${tOver} + ' = ' + ${line.get(tOver)}">1,85</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>

</body>
</html>
