<!DOCTYPE html>
<html lang="ru" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Хоккей</title>
</head>
<body>
<section>
    <h1>Хоккей</h1>

    <table style="text-align: left;">
        <tr>
            <td>
                <form method="POST" th:action="@{/sport/icehockey}">
                    <label>Счет 1:<br>
                        <input type="number" name="score1" min="0" th:value="${page.score1}"><br>
                    </label>
                    <label>Счет 2:<br>
                        <input type="number" name="score2" min="0" th:value="${page.score2}"><br>
                    </label>
                    <label>Ожидание 1:<br>
                        <input type="number" name="expected1" min="0" step="0.01" th:value="${page.expected1}"><br>
                    </label>
                    <label>Ожидание 2:<br>
                        <input type="number" name="expected2" min="0" step="0.01" th:value="${page.expected2}"><br>
                    </label>
                    <label>Сыграно минут:<br>
                        <input type="number" name="currentMinute" min="0" th:value="${page.currentMinute}"><br>
                    </label>
                    <label>Разница пустых:<br>
                        <input type="number" name="emptyDifference" min="0" th:value="${page.emptyDifference}"><br>
                    </label>
                    <label>Секунды пустых:<br>
                        <input type="number" name="emptyDuration" min="0" th:value="${page.emptyDuration}"><br>
                    </label>
                    <label>Профит:<br>
                        <input type="number" name="marginPercent" step=0.1 th:value="${page.marginPercent}"><br>
                    </label>
                    <div style="text-align: right;">
                    <br><input value="Считать" type="submit"><br>
                    </div>
                </form>
            </td><td style="width: 5%;"></td>
            <td>
                <table>
                    <tr>
                        <td colspan="2" th:text="'П1 = ' + ${page.line['П1']}">2,22</td>
                        <td colspan="2" th:text="'Х = ' + ${page.line['Х']}">4,55</td>
                        <td colspan="2" th:text="'П2 = ' + ${page.line['П2']}">3,33</td>
                    </tr>
                    <tr>
                        <td colspan="2" th:text="'1Х = ' + ${page.line['1Х']}">1,32</td>
                        <td colspan="2" th:text="'12 = ' + ${page.line['12']}">1,17</td>
                        <td colspan="2" th:text="'Х2 = ' + ${page.line['Х2']}">1,55</td>
                    </tr>

                    <tr><td colspan="6">&nbsp;</td></tr>

                    <tr>
                        <td colspan="6" th:text="'Победа 1 в матче = ' + ${page.line['Победа 1 в матче']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="6" th:text="'Победа 2 в матче = ' + ${page.line['Победа 2 в матче']}">1,85</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-5,5) = ' + ${page.line['Ф1(-5,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(+5,5) = ' + ${page.line['Ф2(+5,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-4,5) = ' + ${page.line['Ф1(-4,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(+4,5) = ' + ${page.line['Ф2(+4,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-3,5) = ' + ${page.line['Ф1(-3,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(+3,5) = ' + ${page.line['Ф2(+3,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-2,5) = ' + ${page.line['Ф1(-2,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(+2,5) = ' + ${page.line['Ф2(+2,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(-1,5) = ' + ${page.line['Ф1(-1,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(+1,5) = ' + ${page.line['Ф2(+1,5)']}">1.83</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(0) = ' + ${page.line['Ф1(0)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(0) = ' + ${page.line['Ф2(0)']}">1.83</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+1,5) = ' + ${page.line['Ф1(+1,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(-1,5) = ' + ${page.line['Ф2(-1,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+2,5) = ' + ${page.line['Ф1(+2,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(-2,5) = ' + ${page.line['Ф2(-2,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+3,5) = ' + ${page.line['Ф1(+3,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(-3,5) = ' + ${page.line['Ф2(-3,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+4,5) = ' + ${page.line['Ф1(+4,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(-4,5) = ' + ${page.line['Ф2(-4,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Ф1(+5,5) = ' + ${page.line['Ф1(+5,5)']}">1.83</td>
                        <td colspan="3" th:text="'Ф2(-5,5) = ' + ${page.line['Ф2(-5,5)']}">1.83</td>
                    </tr>
                </table>
            </td>
            </td><td style="width: 5%;"></td>
            <td>
                <table>
                    <tr>
                        <td colspan="3" th:text="'ТМ(0,5) = ' + ${page.line['ТМ(0,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(0,5) = ' + ${page.line['ТБ(0,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(1,5) = ' + ${page.line['ТМ(1,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(1,5) = ' + ${page.line['ТБ(1,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(2,5) = ' + ${page.line['ТМ(2,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(2,5) = ' + ${page.line['ТБ(2,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(3,5) = ' + ${page.line['ТМ(3,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(3,5) = ' + ${page.line['ТБ(3,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(4,5) = ' + ${page.line['ТМ(4,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(4,5) = ' + ${page.line['ТБ(4,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(5,5) = ' + ${page.line['ТМ(5,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(5,5) = ' + ${page.line['ТБ(5,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(6,5) = ' + ${page.line['ТМ(6,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(6,5) = ' + ${page.line['ТБ(6,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(7,5) = ' + ${page.line['ТМ(7,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(7,5) = ' + ${page.line['ТБ(7,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(8,5) = ' + ${page.line['ТМ(8,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(8,5) = ' + ${page.line['ТБ(8,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ТМ(9,5) = ' + ${page.line['ТМ(9,5)']}">1,85</td>
                        <td colspan="3" th:text="'ТБ(9,5) = ' + ${page.line['ТБ(9,5)']}">1,85</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(0,5) = ' + ${page.line['ИТМ1(0,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(0,5) = ' + ${page.line['ИТБ1(0,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(1,5) = ' + ${page.line['ИТМ1(1,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(1,5) = ' + ${page.line['ИТБ1(1,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(2,5) = ' + ${page.line['ИТМ1(2,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(2,5) = ' + ${page.line['ИТБ1(2,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(3,5) = ' + ${page.line['ИТМ1(3,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(3,5) = ' + ${page.line['ИТБ1(3,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ1(4,5) = ' + ${page.line['ИТМ1(4,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ1(4,5) = ' + ${page.line['ИТБ1(4,5)']}">1,85</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(0,5) = ' + ${page.line['ИТМ2(0,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(0,5) = ' + ${page.line['ИТБ2(0,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(1,5) = ' + ${page.line['ИТМ2(1,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(1,5) = ' + ${page.line['ИТБ2(1,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(2,5) = ' + ${page.line['ИТМ2(2,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(2,5) = ' + ${page.line['ИТБ2(2,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(3,5) = ' + ${page.line['ИТМ2(3,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(3,5) = ' + ${page.line['ИТБ2(3,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'ИТМ2(4,5) = ' + ${page.line['ИТМ2(4,5)']}">1,85</td>
                        <td colspan="3" th:text="'ИТБ2(4,5) = ' + ${page.line['ИТБ2(4,5)']}">1,85</td>
                    </tr>
                </table>
            </td>
            </td><td style="width: 5%;"></td>
            <td>
                <table>
                    <tr>
                        <td colspan="4" th:text="'Следующий гол 1 = ' + ${page.line['Следующий гол 1']}">1.83</td>
                        <td colspan="2" th:text="'Нет = ' + ${page.line['Следующий гол 1 нет']}">1.1</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Следующий гол 2 = ' + ${page.line['Следующий гол 2']}">1.83</td>
                        <td colspan="2" th:text="'Нет = ' + ${page.line['Следующий гол 2 нет']}">1.1</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="4" th:text="'Победа 1 в овертайме = ' + ${page.line['Победа 1 в овертайме']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${page.line['Победа 1 в овертайме нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Победа 2 в овертайме = ' + ${page.line['Победа 2 в овертайме']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${page.line['Победа 2 в овертайме нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Будут буллиты = ' + ${page.line['Будут буллиты']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${page.line['Будут буллиты нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Победа 1 по буллитам = ' + ${page.line['Победа 1 по буллитам']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${page.line['Победа 1 по буллитам нет']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="4" th:text="'Победа 2 по буллитам = ' + ${page.line['Победа 2 по буллитам']}">1.83</td>
                        <td colspan="4" th:text="'Нет = ' + ${page.line['Победа 2 по буллитам нет']}">1.83</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 Ф1(Т-0,5) = ' + ${page.line['Период2 Ф1(Т-0,5)']}">1.83</td>
                        <td colspan="3" th:text="'Период2 Ф2(Т+0,5) = ' + ${page.line['Период2 Ф2(Т+0,5)']}">1.83</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 Ф1(Т+0,5) = ' + ${page.line['Период2 Ф1(Т+0,5)']}">1.83</td>
                        <td colspan="3" th:text="'Период2 Ф2(Т-0,5) = ' + ${page.line['Период2 Ф2(Т-0,5)']}">1.83</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 ТМ(Т+0,5) = ' + ${page.line['Период2 ТМ(Т+0,5)']}">1,85</td>
                        <td colspan="3" th:text="'Период2 ТБ(Т+0,5) = ' + ${page.line['Период2 ТБ(Т+0,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 ТМ(Т+1,5) = ' + ${page.line['Период2 ТМ(Т+1,5)']}">1,85</td>
                        <td colspan="3" th:text="'Период2 ТБ(Т+1,5) = ' + ${page.line['Период2 ТБ(Т+1,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 ТМ(Т+2,5) = ' + ${page.line['Период2 ТМ(Т+2,5)']}">1,85</td>
                        <td colspan="3" th:text="'Период2 ТБ(Т+2,5) = ' + ${page.line['Период2 ТБ(Т+2,5)']}">1,85</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 ИТМ1(Т+0,5) = ' + ${page.line['Период2 ИТМ1(Т+0,5)']}">1,85</td>
                        <td colspan="3" th:text="'Период2 ИТБ1(Т+0,5) = ' + ${page.line['Период2 ИТБ1(Т+0,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 ИТМ1(Т+1,5) = ' + ${page.line['Период2 ИТМ1(Т+1,5)']}">1,85</td>
                        <td colspan="3" th:text="'Период2 ИТБ1(Т+1,5) = ' + ${page.line['Период2 ИТБ1(Т+1,5)']}">1,85</td>
                    </tr>
                    <tr><td colspan="6">&nbsp;</td></tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 ИТМ2(Т+0,5) = ' + ${page.line['Период2 ИТМ2(Т+0,5)']}">1,85</td>
                        <td colspan="3" th:text="'Период2 ИТБ2(Т+0,5) = ' + ${page.line['Период2 ИТБ2(Т+0,5)']}">1,85</td>
                    </tr>
                    <tr>
                        <td colspan="3" th:text="'Период2 ИТМ2(Т+1,5) = ' + ${page.line['Период2 ИТМ2(Т+1,5)']}">1,85</td>
                        <td colspan="3" th:text="'Период2 ИТБ2(Т+1,5) = ' + ${page.line['Период2 ИТБ2(Т+1,5)']}">1,85</td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>
</section>

</body>
</html>
