<!DOCTYPE html>
<html lang="ru" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Игроки</title>
</head>
<body>
<section>
    <h1>Игроки</h1>

    <table style="text-align: left;">
        <tr>
            <td>
                <form method="POST" th:action="@{'/team2/' + ${page.parser}}">
                    <label>Команда:<br>
                        <select name="team" style="width: 100%;">
                            <option th:each="team : ${page.teams}" th:value="${team}" th:text="${team}"  th:selected="${page.team == team}"></option>
                        </select><br>
                    </label>
                    <label>Статистика:<br>
                        <select name="season" style="width: 100%;">
                            <option th:each="season : ${page.seasons}" th:value="${season}" th:text="${season}" th:selected="${page.season == season}"></option>
                        </select><br>
                    </label>
                    <label>Ожидание команды:<br>
                        <input type="number" name="expected" min="0" step="0.01" th:value="${page.expected}"><br>
                    </label>
                    <label>Тотал на игрока:<br>
                        <input type="number" name="total" min="0.5" step="1.0" th:value="${page.total}"><br>
                    </label>
                    <label>Профит:<br>
                        <input type="number" name="marginPercent" step=0.1 th:value="${page.marginPercent}"><br>
                    </label>
                    <div style="text-align: right;"><br>
                        <input value="Считать" type="submit"><br>
                    </div>
                </form>
            </td><td style="width: 5%;"></td>
            <td>
                <table>
                    <tr th:each="player : ${page.lines}" th:with="name = ${player.key}, lines = ${player.value}">
                        <td>&nbsp;&nbsp;</td>
                        <td th:text="${name}"></td>
                        <td>&nbsp;&nbsp;</td>
                        <td th:each="line : ${lines}" th:text="${line.key} + ' = ' + ${line.value}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</section>

</body>
</html>
